################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/OnlineExaminationSystem/OnlineExaminationSystem/bin
/OnlineExaminationSystem/OnlineExaminationSystem/obj
/OnlineExaminationSystem/DataAccess/bin
/OnlineExaminationSystem/DataAccess/obj
/OnlineExaminationSystem/.vs