<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Store the connection string under the connectionStrings section -->
		<add name="DatabaseConnectionString" connectionString="Data Source=.;Initial Catalog=Online_Examination_System;Integrated Security" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ApiBaseUrl" value="https://api.example.com" />
	</appSettings>
</configuration>
